<p>rooms works!</p>
<h1>Danish</h1>
<hinv-header></hinv-header>
<p>hotel name {{Hotel}}</p>
<p [innerHTML]="text"></p>
<button (click)="toggle($event)" [disabled]="disable" [ngStyle]="{'color': 'red'}">click</button>
<div *ngIf="rooms.availableRooms > 11">
  available rooms : {{rooms.availableRooms}}
</div>

<div [ngStyle]="{'background-color': rooms.availableRooms ? 'steelblue': 'red'}" [innerHTML]="rooms.totalRooms"></div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<div>
  <hinv-rooms-list 
  [rooms]="roomsList"
  (selectedRoom)="selectRoom($event)"
  [title]="title"
  ></hinv-rooms-list>
</div>

<div *ngIf="selectedRoom">
  {{selectedRoom | json}}
</div>